__pycache__/
New York Subway/data/
OpenStreetMap/osm data/
Reviews/
.idea/
.ipynb_checkpoints/
.DS_Store/
.RData
.Rhistory
HMXPC13_DI_v2_5-14-14.csv
.Rproj.user
*.Rproj
*.pyc
explore_edX_data_cache/
explore_edX_data_files/
